.header {
  border: 1px solid #eaeaea;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.header .title {
  font-size: 1.2rem;
}

.header .description {
  font-style: italic;
}